.input {
  display: flex;
  flex-direction: column;

  span {
    margin-bottom: 8px;
  }

  input {
    outline: none;
    box-sizing: border-box;
    border-radius: 3px;
    // background-color: #e8e8e8;
    background-color: white;
    height: 35px;
    padding: 10px;
  }
}
